ul {
  height: 8rem;
  overflow-y: scroll;
  cursor: pointer;
  list-style: none;
}
ul li:hover {
  color: cadetblue;
  transform: scale(1.02);
}
ul li a {
  color: rgb(90, 66, 66);
  text-decoration: none;
}
ul li a:hover {
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
  background: rgb(243, 235, 235);
}
span {
  font-size: 1.2rem;
}
